---
import FormattedDate from "@components/FormattedDate";
import Page from "@layouts/Page";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Page>
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <FormattedDate date={post.data.pubDate} />
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Page>
