---
import BlogListItem from "@components/BlogListItem";
import Page from "@layouts/Page";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = (await getCollection("blog"))
    .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
    .reverse();
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const tagUrl = tag.toLowerCase().replace(/ /g, "-");
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tagUrl },
      props: { tag: tag, posts: filteredPosts },
    };
  });
}

type Props = {
  tag: string;
  posts: CollectionEntry<"blog">[];
};

const { tag, posts } = Astro.props;
---

<Page title={tag} description=`{tag} Blog list` `>
  <h2 class="text-2xl font-bold mb-3">Tags: #{tag}</h2>
  {posts.map((post) => <BlogListItem post={post} />)}
</Page>
