---
import TagBadge from "@components/TagBadge";
import Page from "@layouts/Page";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
const tagWithCountList = tags.map((tag) => {
  const count = posts.filter(
    (post) => tag && post.data.tags?.includes(tag)
  ).length;
  return { name: tag, count };
});
---

<Page title="Tags" description="futabooo's Blog Tags">
  <h2 class="text-2xl font-bold mb-3">Tags</h2>
  <div class="flex flex-row flex-wrap gap-2">
    {
      tagWithCountList.map((tagWithCount) => (
        <TagBadge name={tagWithCount.name} count={tagWithCount.count} />
      ))
    }
  </div>
</Page>
