---
import Page from "@layouts/Page";
import { Content as AboutCV } from "../content/about/AboutCV.md";
---

<Page title="About Me" description="About futaooo profile detail">
  <h2 class="text-2xl font-bold">職務経歴</h2>
  <div class="prose max-w-none">
    <AboutCV />
  </div>
</Page>
