---
import Page from "@layouts/Page";
import { Content as AboutCV } from "../content/about/AboutCV.md";
---

<Page title="About Me" description="About futaooo profile detail">
  <div class="prose">
    <h2>職務経歴</h2>
    <AboutCV />
  </div>
</Page>
