---
import FormattedDate from "@components/FormattedDate";
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"blog">;
}

// `post` will match your 'blog' collection schema type
const { post } = Astro.props;
---

<div class="pb-8">
  <p class="text-sm">
    <FormattedDate date={post.data.pubDate} />
  </p>
  <h2 class="text-xl font-bold">
    <a class="hover:underline" href={`/blog/${post.slug}`}>{post.data.title}</a>
  </h2>
  <p class="text-sm">{post.data.description}</p>
</div>
