---
const { title, url } = Astro.props;
import { IC_TWITTER_LOGO } from "../consts";
---

<a href=`https://twitter.com/intent/tweet?text=${title}&url=${url}`>
  <button class="btn btn-outline gap-2">
    <img class="w-4 h-4" src=`/${IC_TWITTER_LOGO}` />
    Tweet
  </button>
</a>
