---
const { title, url } = Astro.props;
import { IC_TWITTER } from "../consts";
---

<a href=`https://twitter.com/intent/tweet?text=${title}&url=${url}`>
  <button class="btn btn-outline gap-2">
    <img class="w-4 h-4" src=`/${IC_TWITTER}` />
    <p class="text-base">ポスト</p>
  </button>
</a>

<style>
  .btn:hover img {
    filter: brightness(0.8); /* マウスオーバー時の画像の色調整 */
  }

  @media (prefers-color-scheme: dark) {
    .btn:hover img {
      filter: invert(1); /* ダークモード時の画像の色反転 */
    }
  }
</style>
